* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font: 20px sans-serif;
}
.projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}
.projects__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
  transition: flex-grow 1s;
  background-color: #fecea8;
}

.projects__box--primary {
  background-color: #e84a5f;
  flex-grow: 3;
}
.projects__box--secondary {
  background-color: #ff847c;
  flex-grow: 2;
}
.projects__box--active {
  flex-grow: 60;
  cursor: default;
}

.projects__title {
  text-align: center;
  margin: 5px 0;
  color: #2a363b;
  pointer-events: none;
  transition: 0.5s;
  flex: 0;
}

.projects__title--primary {
  font-size: 3rem;
}
.projects__title--secondary {
  font-size: 2em;
}
.projects__title--active {
  flex: 1;
}
.projects__view {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  visibility: hidden;
  transform: translateX(-100%);
  pointer-events: none;
  transition: transform 0.5s 0s, visibility 0s 0.5s;
}
.projects__view--active {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.5s 0.5s, visiblity 0s 0.5s;
}
.projects__shorts {
  display: flex;
  flex-direction: column;
}
.projects__short {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #2a363b;
  text-transform: uppercase;
  text-decoration: none;
  color: #80423e;
  background-color: #ff847c;
  pointer-events: auto;
  cursor: pointer;
  transition: background-color 0.3s;
}
.projects__short:hover {
  background-color: #ff9d96;
}
.projects__short:first-child {
  margin-bottom: 20px;
}
.projects__photo {
  width: 50vw;
  height: 25vw;
}
.projects__description {
  max-width: 30vw;
  font-size: 1.4rem;
}
@media (max-width: 1919px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1365px) and (orientation: portrait) {
  .projects__photo {
    margin: 5vh 0;
  }
  .projects__view {
    flex-direction: column;
  }
  .projects__shorts {
    flex-direction: row;
    margin-bottom: 50px;
  }
  .projects__short:first-child {
    margin: 0 50px 0 0;
  }
  .projects__description {
    max-width: 90vw;
    margin-top: 50px;
    text-align: center;
  }
  .projects__photo {
    width: calc(100vw - 10px);
    height: calc(100vw / 2);
  }
}
@media (max-width: 1365px) and (orientation: landscape) {
  .projects__photo {
    width: 45vw;
    height: 22vw;
  }
  .projects__view {
    bottom: auto;
  }
}

@media (max-width: 1023px) and (orientation: landscape) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 822px) and (orientation: landscape) {
  .projects {
    height: 120vh;
  }
}
@media (max-height: 821px) and (orientation: portrait) {
  .projects {
    height: 110vh;
  }
}
@media (max-height: 730px) and (orientation: portrait) {
  .projects {
    height: 120vh;
  }
  .projects__photo {
    margin: 2vh 0;
  }
}
@media (max-width: 1023px) {
  .projects__box--active {
    flex-grow: 200;
  }

  .projects__title {
    margin: 2px;
  }
}

@media (max-width: 822px) and (orientation: portrait) {
  .projects__shorts {
    margin-bottom: 25px;
  }
  .projects__short:first-child {
    margin-right: 25px;
  }
  .projects__description {
    margin-top: 25px;
  }
}
